<mat-nav-list>
  <div class=profile-card>
    <div class="header">
      <h2>Matias Aristimuño</h2>
      <h4><i>Arquitecto</i></h4>
      <h5>matias.aristimuno@cardif.com.ar</h5>
    </div>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Matias Aristimuño">
  </div>
<mat-divider></mat-divider>
<h2 matSubheader>Paginas</h2>

<a mat-list-item routerLink="/" routerLinkActive="mat-list-active" >Home</a>
<a mat-list-item routerLink="/application" routerLinkActive="mat-list-active" >Aplicaciones</a>
<a mat-list-item routerLink="/servers" routerLinkActive="mat-list-active" >Servidores</a>
<a mat-list-item routerLink="/components" routerLinkActive="mat-list-active" >Componentes</a>
<a mat-list-item routerLink="/databases" routerLinkActive="mat-list-active" >Bases de datos</a>
<mat-divider></mat-divider>

</mat-nav-list>
